{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  <h2 class="ui header" style="margin-top: 2em;">Cat Adoption Centre Dashboard</h2>

  {{#unless catBreeds}}
    <h3 class="ui message">
      No cat breeds available yet! Please check back later.
    </h3>
  {{/unless}}

  {{#each catBreeds}}
    <section class="ui left aligned middle aligned segment" style="margin-top: 1.5em;">
      <h3 class="ui header">
        {{name}}
      </h3>

      <div class="ui grid">
        <div class="four wide column">
          <strong>Age:</strong> {{age}}<br>
          <strong>Lifespan:</strong> {{lifespan}}<br>
          <strong>Size:</strong> {{size}}<br>
          <strong>Weight:</strong> {{weight}}
        </div>

      
        <div class="four wide column">
          <strong>Colours:</strong><br>
          {{#each colour}}
            <span class="ui label">{{this}}</span>
          {{/each}}

          <br><br>
          <strong>Personality:</strong><br>
          {{#each personality}}
            <span class="ui label">{{this}}</span>
          {{/each}}
        </div>

        
        <div class="four wide column">
          <div class="value">
            <a href="/breed/{{id}}">
              <button class="ui primary button">Learn More</button>
            </a>
          </div>
        </div>
      </div>
    </section>
  {{/each}}
</section>
