
<section class="ui center aligned middle aligned segment">
  
 <h1>Cat Adoption Dashboard</h1>

  {{#unless catBreeds}} <!-- If no cat breeds exist it displays the following message -->
    <h3 class="ui message">
      No cats are home! Please check back later.
    </h3>
  {{/unless}}

  {{#each catBreeds}}     <!-- Loops through each cat breed and display its information -->
    <section class="ui left aligned middle aligned segment" style="margin-top: 2em;">
        <h3 class="ui header">{{breed}}</h3>

      <div class="ui grid">
        
        <div class="five wide column">
          <p><strong>Name:</strong> {{name}}<br></p>
          <p><strong>Age:</strong> {{age}}<br></p>
         <p><strong>Lifespan:</strong> {{lifespan}}<br></p>
          <p><strong>Size:</strong> {{size}}<br></p>
          <p><strong>Weight:</strong> {{weight}}</p>
        </div>

        <div class="four wide column" style="padding: 1.5em;">
          <strong>Colours:</strong><br>
          {{#each colour}}
     
          <div class="ui pink label" style="margin-top: 5px; margin-right: 10px;">{{this}}</div>
          {{/each}}

          <br><br>
          <strong>Personality:</strong><br>
          {{#each personality}}
            <div class="ui  teal label" style="margin-top: 5px; margin-right: 10px;">{{this}}</div>
          {{/each}}
        </div>

        <div class="four wide column">
           
           <a href="/catdisplay/{{id}}"> <!-- Link to more cats of this breed for adoption as a table  -->
              <button class="ui primary button" style="margin-bottom: 10px;">Click here to see more kitties of this breed!</button>
             <!-- Button to navigate to the breed's individual page -->
            </a>
          
          <a href="/dashboard/deletecatbreed/{{id}}">
   <i class="ui trash black icon"></i>
              </a>

            <div class="image" style="width: 240px; height: 240px; overflow: hidden; border-radius: 10px; margin: 0 auto;">
              <img src="{{image}}" style="width: 100%; height: 100%; object-fit: cover;">
              <!-- Displays the breeds inmage below the button -->
            </div>
          </div>
        </div>
     
    </section>
  {{/each}}
</section>
