
<section class="ui center aligned middle aligned segment">
  
 <h1>Cat Adoption Dashboard</h1>

  {{#unless catBreeds}} <!-- If no cat breeds exist it displays the following message -->
    <h3 class="ui message">
      No cats are home! Please check back later.
    </h3>
  {{/unless}}

  {{#each catBreeds}}     <!-- Loops through each cat breed and display its information -->
    <section class="ui left aligned middle aligned segment" style="margin-top: 2em;">
        <h3 class="ui header">{{breed}}</h3>

      <div class="ui grid">
        
        <div class="five wide column">
          <p><strong>Name:</strong> {{name}}<br></p>
          <p><strong>Age:</strong> {{age}}<br></p>
         <p><strong>Lifespan:</strong> {{lifespan}}<br></p>
          <p><strong>Size:</strong> {{size}}<br></p>
          <p><strong>Weight:</strong> {{weight}}</p>
        </div>

        <div class="four wide column" style="padding: 1.5em;">
          <strong>Colours:</strong><br>
          {{#each colour}}
     
          <div class="ui pink label" style="margin-top: 5px; margin-right: 10px;">{{this}}</div>
          {{/each}}

          <br><br>
          <strong>Personality:</strong><br>
          {{#each personality}}
            <div class="ui  teal label" style="margin-top: 5px; margin-right: 10px;">{{this}}</div>
          {{/each}}
        </div>

        <div class="four wide column" style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 20px;">
   
  
   <a href="/catdisplay/{{id}}" style="width: 100%; margin-bottom: 15px;">
      <button class="ui primary button" style="width: 100%; padding: 15px; font-size: 16px; text-transform: uppercase;">
         Click here to see more kitties of this breed!
      </button>
   </a>


   <a href="/dashboard/deletecatbreed/{{id}}" style="margin-bottom: 15px; display: inline-block; cursor: pointer;">
      <i class="ui trash black icon" style="font-size: 24px; color: #db2828; transition: transform 0.3s ease;">
         <span class="sr-only">Delete Breed</span>
      </i>
   </a>

  
   <div class="image" style="width: 240px; height: 240px; overflow: hidden; border-radius: 10px; margin: 0 auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <img src="{{image}}" style="width: 100%; height: 100%; object-fit: cover; transition: transform 0.3s ease;">
   </div>
   
</div>
        </div>
     
    </section>
  {{/each}}
</section>
