{{#if  singleCat.cats}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Breed</th>
      <th>Name</th>
      <th>Age</th>
      <th>Colour</th>
        <th>Weight</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each singleCat.cats}}
      <tr>
        <td>{{breed}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{colour}}</td>
        <td>{{weight}}</td>
        <td>
          
    
          <ul>
            {{#each colour}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </td>
        <td>
          <ul>
            {{#each personality}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>


  {{else}}
    <h3 class="ui message">
      No cats for adoption!
    </h3>

{{/if}}
