{{#if  singleCat.catBreeds}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Breed</th>
      <th>Name</th>
      <th>Age</th>
      <th>Lifespan</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Colour</th>
      <th>Personality</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each catBreeds}}
      <tr>
        <td>{{breed}}</td>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{lifespan}}</td>
        <td>{{size}}</td>
        <td>{{weight}}</td>
        <td>
          <ul>
            {{#each colour}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </td>
        <td>
          <ul>
            {{#each personality}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>


  {{else}}
    <h3 class="ui message">
      Empty playlist!
    </h3>

{{/if}}
