
<tr id="cat{{@index}}">


  <td>
    {{name}}
  </td>
  <td>
    {{age}}
  </td>
    <td>
    {{colour}}
  </td>
  <td>
    {{weight}}
  </td>

  <td class="center aligned">
    <button title="Edit cat" class = "editSubmit" id="showEdit{{@index}}">
      <i class="ui pencil icon"></i>
    </button>
  </td>
  <td class="center aligned">
            <a href="/catbreed/{{../id}}/removeCat/{{id}}" title="Remove a cat">
              <i class="ui black trash icon"></i>
            </a>
          </td>
</tr>
