{{#if  singleCat.cats}}

<!-- Displays a table if cats are available -->
<table class="ui fixed striped table">
  <thead>
    <tr>
      <!-- Table headers for the cat details -->
      <th>Name</th>
      <th>Age</th>
      <th>Color</th>
      <th>Weight</th>
    </tr>
  </thead>
  
  <tbody>
    <!-- Display each cat's details in a table row -->
    {{#each singleCat.cats}}
      <tr>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{colour}}</td>
        <td>{{weight}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


  {{else}}
    <h3 class="ui message">
      No cats for adoption!
    </h3>

{{/if}}
