{{#if  singleCat.cats}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Colour</th>
      <th>Weight</th>
      <th>Personality</th>
      <th>Color</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each singleCat.cats}}
      <tr>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{colour}}</td>
        <td>{{weight}}</td>
        <td>{{personality}}</td>
        <td>{{colour}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


  {{else}}
    <h3 class="ui message">
      No cats for adoption!
    </h3>

{{/if}}
