{{#if catBreed.cats}}

<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Cat Name</th>
      <th>Age</th>
      <th>Lifespan</th>
      <th>Size</th>
      <th>Weight</th>
      <th>Colour</th>
      <th>Personality</th>
      <th>Fun Fact</th>
    </tr>
  </thead>
  <tbody>
    {{#each catBreeds}}
      <tr>
      <td colspan="8" >{{breed}}</td>
      </tr>
      {{#each cats}}
      <tr>
        <td>{{name}}</td>
        <td>{{age}}</td>
        <td>{{lifespan}}</td>
         <td>{{size}}</td>
          <td>
            {{#each colour}}
        <div>{{this}}</div>
            {{/each}}
          </td>
          <td>
            {{#each personality}}
              <div>{{this}}</div>
            {{/each}}
          </td>
          <td>{{funFact}}</td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
</table>

{{else}}
  <h3 class="ui message">
    No cats available!
  </h3>
{{/if}}
