{{> menu}}

{{#unless BigCats}}
  <h3 class="ui message">No cat breeds available</h3>
{{/unless}}

<section class="ui center aligned segment" style="margin-top: 2em;">
  <h1><strong>The Rest of Our Furry Friends!</strong></h1>
</section>

{{#each BigCats}}
  <div class="ui segment" style="width: 1000px; margin: auto; padding: 50px; text-align: left; background: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
    <h2>{{breed}}</h2>
    
    {{#each cats}}   
      <div style="display: flex; align-items: flex-start; margin: 10px; margin-bottom: 20px;">

        
        <div class="ui card" style="width:500px; margin-right: 20px; padding: 20px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
          <h3>{{name}}</h3>
          <p><strong>Age:</strong> {{age}}</p>
          <p><strong>Lifespan:</strong> {{lifespan}}</p>
          <p><strong>Size:</strong> {{size}}</p>
          <p><strong>Weight:</strong> {{weight}}</p>
          
          <p><strong>Colours:</strong> 
            {{#each colour}}
              {{this}}
            {{/each}}
          </p>

          <p><strong>Personality:</strong> 
            {{#each personality}}
              {{this}}
            {{/each}}
          </p>

          <p><strong>Fun Fact:</strong> {{funFact}}</p>
        </div>

     <div class="image" style="width: 360px; height: 360px; overflow: hidden; border-radius: 10px; margin: 0 auto;">
              <img src="{{image}}" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
        
      </div>
    {{/each}}

  </div>
{{/each}}
