{{> menu id="dashboard"}}

<section class="ui center aligned middle aligned segment">
  
 <h1>Cat Adoption Dashboard</h1>

  {{#unless catBreeds}}
    <h3 class="ui message">
      No cats are home! Please check back later.
    </h3>
  {{/unless}}

  {{#each catBreeds}}
    <section class="ui left aligned middle aligned segment" style="margin-top: 2em;">
        <h3 class="ui header">{{breed}}</h3>

      <div class="ui grid">
        
        <div class="five wide column">
          <p><strong>Name:</strong> {{name}}<br></p>
          <p><strong>Age:</strong> {{age}}<br></p>
         <p><strong>Lifespan:</strong> {{lifespan}}<br></p>
          <p><strong>Size:</strong> {{size}}<br></p>
          <p><strong>Weight:</strong> {{weight}}</p>
        </div>

        <div class="four wide column" style="padding: 1.5em;">
          <strong>Colours:</strong><br>
          {{#each colour}}
             <span class="ui pink label">{{this}}</span>
          {{/each}}

          <br><br>
          <strong>Personality:</strong><br>
          {{#each personality}}
            <span class="ui  pink label">{{this}}</span>
          {{/each}}
        </div>

        <div class="four wide column">
          <div class="value">
            <a href="/breed/{{id}}">
              <button class="ui primary button" style="margin-bottom: 10px;">Learn More</button>
            </a>

            <div class="image" style="width: 240px; height: 240px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
              <img src="{{image}}" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/each}}
</section>
