{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Cat Adoption Center</h2>
  

  <p>
   
  </p>
  <img src = "https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/02-lanai-cat-sanctuary-great-went.webp?v=1740492539576" class="ui centered image">
  
   
  <h2 class="ui center aligned header">Meet Our Featured Cats</h2>

   
    <div class="ui three stackable cards">
      <!-- Handlebars Loop -->
      {{#each featuredCats}}
        <div class="card">
          <div class="image">
            <img src="{{this.image}}" alt="{{this.name}}">
          </div>
          <div class="content">
            <a class="header">{{this.name}}</a>
            <div class="meta">
              <span class="date">{{this.age}} old</span>
            </div>
            <div class="description">
              Breed: {{this.breed}}
            </div>
          </div>
          <div class="extra content">
            <button class="ui button primary">Adopt Me</button>
          </div>
        </div>
      {{/each}}
    </div>

   
