{{> menu}}

<section class="ui center aligned middle aligned segment">
  
 <h1>Cat Adoption Center</h1>
  

  <p>
   Welcome to the Cat Adoption Center! We are dedicated to providing a safe and loving environment for cats in need of a forever home. Whether you're looking for a playful kitten or a calm companion, our sanctuary is filled with wonderful cats ready to meet their new family. Explore our featured cats and learn more about how you can help give them a second chance at happiness!
  </p>
  <img src = "https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/02-lanai-cat-sanctuary-great-went.webp?v=1740492539576" class="ui centered image">
  
   
  <h2 class="ui center aligned header">Meet Our Featured Cats</h2>

   
    <div class="ui three stackable cards">
  
      {{#each featuredCats}}
        <div class="card">
          <div class="image">
            <img src="{{this.image}}" alt="{{this.name}}">
          </div>
          <div class="content">
            <a class="header">{{this.name}}</a>
            <div class="meta">
              <span class="date">{{this.age}} old</span>
            </div>
            <div class="description">
              Breed: {{this.breed}}
            </div>
          </div>
          <div class="extra content">
            <button class="ui button primary">Adopt Me</button>
          </div>
        </div>
      {{/each}}
    </div>

   
