{{> menu}}

<section class="ui center aligned middle aligned segment">
  
 <h1>Cat Adoption Center</h1>
  

  <p>
   Welcome to the Cat Adoption Center! We are dedicated to providing a safe and loving environment for cats in need of a forever home. Whether you're looking for a playful kitten or a calm companion, our sanctuary is filled with wonderful cats ready to meet their new family. Explore our featured cats and learn more about how you can help give them a second chance at happiness!
  </p>
  
  <img src = "https://cdn.glitch.global/f4d4b34b-af09-4993-a4d8-24ef9e0840ac/02-lanai-cat-sanctuary-great-went.webp?v=1740492539576" class="ui centered image">
  
   
<h2 class="ui center aligned header">Our Information</h2>
  

<div class="ui four statistics" style="margin-top: 1em;, padding: 10em;">
  {{#with info}}
  
    <div class="statistic">
      <div class="value">
        <i class="small home icon"></i>
      </div>
      <div class="label">
        Center Name: <br>
        {{Title}}
      </div>
    </div>
    
    <div class="statistic">
      <div class="value">
        <i class="small map pin icon"></i>
      </div>
      <div class="label">
        Location: <br>
        {{location}}
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <i class="small phone icon"></i>
      </div>
      <div class="label">
        Contact: <br>
        {{contact.phone}}
      </div>
    </div>
    
    <div class="statistic">
      <div class="value">
        <i class="small mail icon"></i>
      </div>
      <div class="label">
        Email: <br>
        {{contact.email}}
      </div>
    </div>
  {{/with}}

</div>
  

<h2 class="ui center aligned header" style="margin-top: 2em;">Meet Our Featured Cats!</h2>

  
{{#unless featuredCats}}
  <h3 class="ui message">
    No featured cats! Please see our dashboard for some friendly felines!
  </h3>
{{/unless}}
  
  
{{#each featuredCats}}
  <section class="ui middle aligned segment" style="margin-top: 2em; padding: 10px;">
    <div class="ui card">
      
      <div class="image">
        <img src="{{image}}" >
      </div>
      
      <div class="content">
        <p><bold>Name:</bold> {{name}}</p>
        <div class="details">
          <bold>Age:</bold> {{age}} - <bold>Breed:</bold> {{breed}}</div>
        <div class="description">
          
          {{#if adoptable}}
            <bold>Adoptable!</bold>
          
          {{else}}
            <strong>Not available for adoption!</strong>
          {{/if}}
          
        </div>
      </div>
    </div>
{{/each}}
      </section>